<div class="col-10 offset-1 about">
  <h1>About Splutry</h1>


  <p>
    Splurty was built by <a target="_blank" href= "https://github.com/SRSSavage">Zach</a>
  </p>
  <br />
  <p>
    Zach has taken an intrest in programming and is learning to develop his own web-sites!
  </p>
  <p>
    if you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  <div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'me.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center"></h2>
    <br />
    <p>
      Zach is a young inspired software engineer, he has been around computers his whole life. Zach's brother introduced him to computers when he was just 7 years old.
      That alone sparked an intrest that could last him a life time, from building new rigs to watching his brother make videogames using C++; Zach desided it was time
      to act on what he truly enjoyed.
    </p>
  </div>
 </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
