<div class="col-10 offset-1">
  <h1>About Splutry</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/SRSSavage">Zach</a>
  </p>
  <br />
  <p>
    Zach has taken an intrest in programming and is learning to develope his own web-sites!
  </p>


</div>
