<div class="col-10 offset-1 about">
  <h1>About Splutry</h1>


  <p>
    Splurty was built by <a target="_blank" href= "https://github.com/SRSSavage">Zach</a>
  </p>
  <br />
  <p>
    Zach has taken an intrest in programming and is learning to develop his own web-sites!
  </p>
  <p>
    if you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  <div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'me.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center"></h2>
    <br />
    <p>
      Zach is a young inspired web-developer. He has taken such an intrest in developing applications he quit his full-time job as a production line worker to embark on his mission to master web-developement.
    </p>
  </div>
 </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
